@charset "utf-8";
/* CSS Document */

		/*.hide{display: none!important;}*/
			*{margin: 0px; padding: 0px;font-family: "Open Sans"}
			body{background-color: #000000;		}
			header{
				background-color: #293955;
				height: 50px;
			}
			.brand{
				background-image: url("images/brand.png");
				display: inline-block;
				height: 50px;
				width: 206px;
				border-right: 2px solid #333333; float:left;
			}
			.nav-top{
				/*height: 50px;*/
			}
			.social{display: inline-block; float: right; /*margin-left: 610px;position: absolute;*/border-left: 1px solid #333;height: 40px;padding-top: 10px;padding-left: 10px;}
			.social img{display: inline-block;margin: 0px 5px;}
			.social img {display: inline-block;}
			.nav-top{display: inline-block; float: right; height: 50px;}
			.nav-top ul{ display: inline-block; height: 50px;}
			.nav-top ul li{ display: inline-block; height: 50px;}
			.nav-top ul li a{
				display: block;
				height: 20px;
				padding: 15px 15px; 
				color: #ffffff; 
				text-decoration: none;
				border-left: 1px solid #333333;
				font-size: 12px;
			}
			#registration{width: 800px;margin: auto;padding-bottom: 0px;}
			.form{
				width: 385px;
				height: 405px;
				display: inline-block;
				background-color: #fff;
				float: left;
				margin-top: 10px;
				margin-right: 10px;
				border-radius: 5px;
			}
			.form form{
				display: inline-block;
				width: 100%;
				border-radius: 5px;
			}
			.form form input, .form form textarea{
				font-size: 14px;
				font-style: italic;
				width:375px;
				border:none;
				border-bottom: 1px solid #ccc;
				padding: 20px 0 20px 10px;
				display: inline-block;
				margin-top: 5px;
				}
			.form
			input[type=file]{padding: 24px 0px;}
			form textarea{
				border: none;
				border-radius: 0 0 5px 5px;
				}
			.form textarea{border-bottom!important: none;padding: 20px 0 17px 10px!important;}
			.form label{float: left;}
			#form-a{}
			#form-a textarea{border: none;}
			#form-b{}
				/* Used for the Switch effect: */
				.field { width: auto; float: right; margin: 0 5px 10px;padding-top: 10px; }
				.field input { margin: 0 0 0 20px; width: auto!important; display: none!important;}
				.cb-enable{border-radius: 10px 0px 0px 10px;background-color: #f5f5f5;}
				.cb-disable{border-radius: 0px 10px 10px 0px;background-color: #f5f5f5;}
				.cb-disable2{background-color: #f5f5f5;}
			.cb-enable, .cb-disable, .cb-enable span, .cb-disable span, .cb-disable2, .cb-disable2 span{ /*background: url(switch.png) repeat-x*/; display: block; float: left; font-size: 10px;}
			.cb-enable span, .cb-disable span, .cb-disable2 span { line-height: 26px; display: block; background-repeat: no-repeat; font-weight: bold; }
			.cb-enable span { background-position: left -90px; padding: 0 10px; }
			.cb-disable span{ background-position: right -180px;padding: 0 10px; }
			.cb-disable2 span {background-position: right 0px;padding: 0 10px;}
			.cb-disable.selected, .cb-disable2.selected { background-position: 0 -30px;background-color: #547abf; }
			.cb-disable.selected span { background-position: right -210px; color: #fff; }
			.cb-disable2.selected span {background-position: right -272px;color: #fff;}
			.cb-enable.selected { background-position: 0 -60px; background-color: #547abf; }
			.cb-enable.selected span { background-position: left -150px; color: #fff; }
			.switch label { cursor: pointer; border-bottom: 2px solid #ccc; }
			#form-b div{width: 100%; height: 55px;border-top: 1px solid #ccc; }
			.file > label{margin-top: 15px;margin-left: 10px;}
			.tabs{background-color: #dfdfdf; border-radius: 5px  5px 0 0;border-bottom: 1px solid #ccc;}
			.tab{display: inline-block;width: 46%!important	;height: 35px!important;padding: 20px 0px 0px 10px; border:none!important;}
			.vo{border-radius: 5px 5px 0px 0px; background-color: #fff;}
			.vad{border-radius: 0px 0px 0px 5px;}
			.practice{display: block; margin: auto; padding-top:  22px;}
			#registration h1{font-weight: normal;text-align: center;font-size: 32px; color: #fff;margin-bottom: 20px;}
			.send{display: block; float: right;margin-right: 20px;margin-top: 13px;margin-bottom: 34px;}

			#how-to{width: 960px;margin: auto;padding-bottom: 85px;}
			#how-to h2{font-weight: normal;text-align: center;font-size: 48px; color: #fff;margin-bottom: 20px;}
			.steps{display:inline-block;float:left;width:300px;margin: 0 10px;}
			.steps img{display: block;margin: auto;}
			.steps img:nth-of-type(2){margin-bottom: 35px;}
			.steps p{color:#fff; font-size: 14px;}
			
			#contact{width: 960px;margin: auto;}
			#contact h2{font-weight: normal;text-align: left;font-size: 48px; color: #fff;}
			.faq, .contact{display: inline-block; float: left;}
			.faq{margin-right: 25px;margin-bottom: 55px; width:519px;}
			.faq ul li{color: #fff; font-size: 22px; list-style-image: url("images/down-arrow.png");list-style-position: inside;}
			.faq ul li.selected{list-style-image: url("images/up-arrow.png");}
			.faq ul li li{color: #fff; font-size: 14px; list-style-image: url("images/link.png");list-style-position: outside;margin-left: 47px;}


			.contact{margin-left: 25px; border-radius: 5px;}
			.contact .tag{font-size: 14px; font-style: italic; color: #fff;margin-bottom: 25px;}
			.contact form{height: 180px; background-color: #fff; border-radius: 5px;}
			.contact form input{width: 100%; height: 55px; border:none; padding-left: 10px;background-color: #fff; border-radius:5px 5px 0px 0px; border-bottom: solid 1px #ccc;}
			.contact textarea{width: 100%; height: 105px; padding-left: 10px; padding-top: 20px; border-radius:0px 0px 5px 5px;}
			.contact input[type=submit]{width: auto; background-image: url("images/send-button2.png");background-repeat: no-repeat;	height: 40px; background-color: transparent;border:none; width: 213px; margin-top: 15px; display: block; text-indent: -999px; margin: 15px auto 0px; display: block;}
			footer{background-color: #111825; color: #3a4860; border-top: 1px solid #fff; width: 100%; }
			.copy, .foot-nav{font-size: 10px; display: inline-block;margin: 27px 20px 0px; padding-bottom: 20px;}
			.foot-nav{float: right;}
			.copy{float: left;}


			#s1{background-image: url("images/s1.png"); background-repeat: repeat-x; background-position: center;}
			#s2{ background-color:#4e6eaa; border-bottom: 1px solid #3b4e70;}
			#s3{background-image: url("images/s3.png"); background-repeat: repeat-x; background-position: center;border-top: 1px solid #7190cb; padding-bottom: 50px;}

					.clearfix{clear: both;}
			.dragndrop{margin-left: 10px;}
			.upload{border-top: 1px solid #ccc;}
			#fileselect{width: auto;}
			.btn-upload{background-color: #eee;width: 138px!important; height: 38px; border-radius: 15px; border-bottom: 1px solid #cdcdcd!important; font-size: 14px; font-style: normal!important; padding: 10px 5px!important;}

			label[for=fileselect]{float: none;}
						a.selected {background-color:#1F75CC;color:white;z-index:100;}

			.messagepop {
				background-color:#FFFFFF;
				border:1px solid #999999;
				cursor:default;
				display:none;
				margin-top: 15px;
				position:absolute;
				text-align:left;
				width:394px;
				z-index:50;
				padding: 0px 0px 0px 10px;
				width: 182px!important;
				height: auto!important;
				margin-left: 178px;
				margin-top: 45px;
				border-radius: 5px;
				border: 1px solid #ccc;
			}
			.messagepop p, .messagepop.div {
			  border-bottom: 1px solid #EFEFEF;
			  margin: 8px 0;
			  padding-bottom: 8px;
			}
			.messagepop input{
				width: 150px!important;
				padding:0px!important;
				margin-top: 0px!important;
				border: none!important;
			}
		

